* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-family: 'Source Serif 4', serif;
    color: #A54328;
    font-size: clamp(0.5rem, 2vw + 0.5rem, 1rem);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

main {
    max-width: 32rem;
    margin-inline: auto;
    padding: 6rem 1rem;
    box-sizing: content-box;

    display: flex;
    flex-direction: column;
    gap: 3rem;
}

img {
    width: 100%;
    margin-block: 3rem;
}

h1, h2 {
    font-size: clamp(1rem, 3vw + 1rem, 5rem);
    line-height: clamp(1rem, 3rem + 1rem, 5rem);
}

h2 {
    margin-bottom: 3rem;
}

ul, ol {
    padding-left: 2rem;
}

ul {
    margin-bottom: 2rem;
}

button {
    color: #FFF;
    border-radius: 0.35rem;
    background: #A54328;
    font-weight: 500;
    border: none;
    padding: 0.8rem 1.2rem;
    margin-top: 1.8rem;
    cursor: pointer;
}

button:hover {
    background: #e86946;
}

@media (min-width: 960px) {
    body {
        background: url("images/old-background.jpeg") no-repeat;
    }
    main {
        flex-direction: row;
        max-width: fit-content;
        gap: 11rem;
    }

    .recipe {
        max-width: 27rem;
    }

    .ingredients {
        max-width: 32rem;
    }
}